include LICENSE
include README.md
include CHANGELOG.md
include requirements.txt
include requirements-redis.txt
include requirements-sequential.txt
graft src/cicerone/static
graft src/cicerone/templates
