include LICENSE
include README.md
include CHANGELOG.md
include requirements.txt
include requirements-redis.txt
include requirements-sequential.txt
include requirements-kafka.txt
include requirements-rabbitmq.txt
graft src/cicerone/static
graft src/cicerone/templates
include src/cicerone/serve/python_detect.sh
